<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Jason Andersen &mdash; Prime Cleaning Services</title>
    <meta name="description" content="JavaJam Coffee Bar Case Study">
    <meta name="author" content="Jason Andersen">
    <meta name="keywords" content= "Website, Business, Prime Cleaning Services ">
    <link href="javajam.css" rel="stylesheet">
    
    <link rel="shortcut icon" href="favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/common.js"></script>
</head>

<body>
    <div id="wrapper">
    <header>
    <h1><a href="index.html">Prime Cleaning Services</a>
    </h1>
    </header>
    <nav>
        <a  href="index.html">Home</a> &nbsp;
        <a  href="about.html">About Me</a> &nbsp;
        <a href="projects.html">Projects</a> &nbsp;
   
       
    </nav>
    <main>
        <div id="jasonavery">
        </div>

        <a href="images/jasonavery.JPG"><img src="images/jasonavery.JPG" alt="jasonavery" width="250" height="150"></a>


    <h2>
        Prime Cleaning Services <br>
    </h2>
    <p>
        Hey my name is Jason Andersen, I was born and raised in Logan, Utah. I am going to Utah State University currenlty
        doing a double major in MIS and Marketing. I am currenlty working as a Associate Sales Engineer for a company that is
        based out of LA. I have a huge passion in sports and the outdoors. I played college basektball at 
        Dixie State University and I love riding my KTM 250 xc dirt bike.
    </p>

    <div id="flow">
        <table>
        <tr>
            
            <th>Past Experience</th>
            <th>Stealth Mode</th>
            <td>Associate Sales Engineer<br></td>
        </tr>
        <tr>
            <th>2021-2022</th>
            <th>Halosight</th>
            <th>Mid-market AE</th>
            <th>2020-2021</th>
            <th>Podium</th>
            <td>Sales Development Rep</td>
        </tr>
        <tr>
            <th>2018-2020</th>
            <th>Fox Pest Control</th>
            <td>Sales Representative</td>
        </tr>
        </table>
    </div>
    </main>
    <footer>

    <a href="mailto:Jason@Andersen.com">jason@Andersen.com</a>
    <div>
        <p id="dateupdate"></p>
        <script src="js/dateupdate.js"></script>
    </div>

    </footer>
    </div>
</body>
</html>